# macOS folder attributes
.DS_Store

# ignore SquareLine Studio files
ui_design/backup
ui_design/cache
ui_design_0.85/backup
ui_design_0.85/cache
ui_design_1.69/backup
ui_design_1.69/cache
ui_design_1.69_land/backup
ui_design_1.69_land/cache