# Settings for LilyGo T-Display S3 (basic/non-touch and touch version)
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000
CONFIG_PARTITION_TABLE_MD5=y
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHMODE="qio"
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="16MB"
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_160=y
CONFIG_TONEX_CONTROLLER_HARDWARE_PLATFORM_LILYGO_TDISPLAY_S3=y
CONFIG_TONEX_CONTROLLER_HAS_DISPLAY=y
CONFIG_TONEX_CONTROLLER_DISPLAY_SMALL=y
CONFIG_TONEX_CONTROLLER_GPIO_FOOTSWITCHES=y
CONFIG_LV_COLOR_16_SWAP=y
CONFIG_LV_COLOR_DEPTH_16=y
CONFIG_SPIRAM_FETCH_INSTRUCTIONS=y
CONFIG_TONEX_CONTROLLER_HAS_TOUCH=y
